node_modules
package-lock.json
coverage
coverage.json
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# temp
/scripts
/test